body {
    font-family: 'Roboto Mono';
}

header {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px;
  color: #696969;
  margin-bottom: 10px;
}

.navig {
  display: inline-block;
}

header,
.navig {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

a {
  justify-content: space-between;
  margin-left: 20px;
  font-size: 20px;
}

a:link {
  color: #ff0000;
  text-decoration: none;
}

a:visited {
  color: #696969;
  text-decoration: none;
}

a:hover {
  color: #ff00ff;
  text-decoration: none;
}

a:active {
  color: #0000ff;
  text-decoration: none;
}

main {
  margin: 0 auto;
  width: 90%;
}

.content {
  position: relative;
  text-align: center;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 20px;
}

.content,
img {
  width: 100%;
}

.first-par {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-size: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
}

#section1 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding: 25px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
}
.houses img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.houses h3 {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  font-weight: 500;
}

.houses {
  position: relative;
}
/*
#section1,
.houses {
  float: left;
  margin: 30px;
}
#section1,
.houses,
img {
  display: block;
}
*/

.descr {
  max-width: 250px;
  display: inline-block;
}

.but {
  background-color: #0066ff;
  border-radius: 10px;
  width: 100px;
  height: 30px;
}

#section2 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  margin: 25px 0;
}

.proprietary {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding: 25px;
  text-align: center;
}

.proprietary .person {
  height: 250px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 20px/ 20px;
}

#section3 {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 20px;
}

#section3 p {
  text-align: center;
  font-size: 20px;
}

input {
  display: block;
  width: 30%;
  margin: auto;
  margin-bottom: 20px;
}

.send:link {
  color: #ff0000;
  text-decoration: none;
}

.send:visited {
  color: #696969;
  text-decoration: none;
}

.send:hover {
  color: #fff;
  text-decoration: none;
}

.send:active {
  color: #0000ff;
  text-decoration: none;
}

.send {
  background-color: #0066ff;
  border-radius: 10px;
  width: 150px;
  height: 40px;
}

footer {
  background-color: black;
  padding: 20px 0;
  color: white;
}
